body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper {
    flex: 1;
}

.ratio {
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#container {
    width: 500px;
    height: 500px;
    display: grid;
    margin: auto;
    justify-content: center;
    row-gap: 1px;
    column-gap: 1px;
    background-color: white;
}

.cell {
    /*height: 20px;
    width: 20px;*/
    border: 2px solid lightcoral ;
}

.hover {
    background-color: black;
}

